#cookie_law_banner {
	display: none;
	
	background-color: #fff;
	border-bottom: 2px solid rgba(0,0,0,0.9);
	
	box-sizing:border-box;
	width: auto;
	height: 0;
	padding: 10px;
	margin: 0 auto;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index:9998;

	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

	transition: all 0.5s;
}

#cookie_law_banner.opened {
	display:block;
	height: auto;
}

#cookie_law_info_window,
#cookie_law_info_window_close,
#cookie_law_info,
#cookie_law_banner p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: #333;
}

#cookie_law_banner p {
	text-align:center;
}

#cookie_law_banner a:link,
#cookie_law_banner a:visited,
#cookie_law_banner a:hover,
#cookie_law_banner a:active {
	text-decoration: none;
}

#cookie_law_banner a:hover {
	text-decoration: underline;
}

#cookie_law_banner a.cookie_law_banner_btn {
	color: #fff;
	background-color: #333;
	padding:0.2em 0.5em;
}

#cookie_law_info_window {
	width: 80%;
	background-color: #fff;
	color: #444;
	border:0;
	margin:0 auto;
	padding:2em;
	box-sizing: border-box;
	min-height: 700px;
	position: fixed;
	top: 2em;
	left: 0;
	right: 0;
	z-index:9998;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 50px rgba(0,0,0,0.6);
	box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

#cookie_law_info_window_close {
	position: absolute;
	z-index: 10000;
	top:-10px;
	right: -10px;
	width: 20px;
	height:20px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-align:center;
	content: 'X';
	display:block;
	padding:0.2em;
	text-decoration: none;
	line-height: 1.5em;
	
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #000;
}

#cookie_law_info_window_close:hover {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
}

#cookie_law_info_window iframe {
	width: 100%;
	min-height: 700px;
	background-color: #fff;
	color: #444;
	border:0;
	margin:0 auto;
	padding:2em;
	box-sizing: border-box;
}

#cookie_law_info {
	font-size: 1em;
	font-weight: 300;
}

#cookie_law_info h2 {
	text-transform: uppercase;
	font-weight: normal;
}

#cookie_law_info h3 {
	text-transform: uppercase;
	font-weight: 400;
	font-style: oblique;
	margin-top:0;
	margin-bottom: 0.4em;
}

#cookie_law_info p {
	margin-top:0;
	line-height: 1.5em;
}

#cookie_law_info p strong {
	font-weight: 600;
}

#cookie_law_info p strong a:link,
#cookie_law_info p strong a:visited,
#cookie_law_info p strong a:hover,
#cookie_law_info p strong a:active {
	font-weight:600;
	color: #333;
	text-decoration: none;
}

#cookie_law_info p strong a:hover {
	text-decoration: underline;
}

#cookie_law_info hr {
	border:1px solid #505050;
	margin: 20px 0;
}
